@font-face {
    font-family: 'Circular Std';
    src: url('./fonts/CircularStd-Bold.woff2') format('woff2'),
        url('./fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}

body{
	font-family: 'Circular Std';
}

header{
	height: 100%;
}

.container{
	width: 1140px;
	margin: 0 auto;
}
.nav{
	min-height: 72px;
	display: flex;
	justify-content: space-between;

}
.nav-bar{
	display: flex;

}

.nav-list{
	display: flex;
	margin-right: 38px;
}

.title-1{
	margin-top: 15px;
	margin-left: 20px;
	width: 80px;
	height: 30px;
	font-size: 24px;
}

.nav-list{
	display: flex;
	width: 228px;
	justify-content: space-between;
	align-items: center;
}

.nav-item{
	font-size: 16px;

}

.header-link-1{
	display: flex;
	width: 141px;
	height: 45px;
	justify-content: center;
	align-items: center;
	margin: 17px;
	background: #F04037;
	color: white;
	font-size: 16px;
	border-radius: 5px;
}

.title-2{
	width: 500px;
	height: 252px;
	font-size: 80px;
	line-height: 84px;
	letter-spacing: -2.5px;
	margin-top: 150px;
}

.title-subtext{
	font-size: 21px;
	line-height: 39px;
	width: 536px;
	height: 117px;
	color: #696871;
	text-align: left;
}

.header-link-2{
	display: flex;
	width: 141px;
	height: 45px;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
	background: #F04037;
	color: white;
	font-size: 16px;
	border-radius: 5px;
}

.header-button{
	display: flex;
	height: 20px;
	width: 149px;
	border: none;
	color: #5454D4;
	background-color: white;
	margin-top: 17px;
	line-height: 19px;
	letter-spacing: -0.5002105832099915px;
	cursor: pointer;
}
.triangle{
	margin-right: 10px;
}

.iphone{
	position: absolute;
	width: 330px;
	height: 677px;
	left: 948px;
	top: 192px;
}

.appointment-1{
	display: flex;
	height: 80px;
	width: 305px;
	border-radius: 8px;
	background: #5454D4;
	box-shadow: 0px 32px 34px 0px #1C1B20 19,9 %;
	position: absolute;
	left: 880px;
	top: 287px;
	align-items: center;
}

.tick-1{
	margin-left: 18px;
	margin-right: 15px;
	height: 31px;
	width: 31px;
	border-radius: 50%;
	background-color: #FEDC5A;
	display: flex;
	justify-content: center;
	align-items: center;
}

.appointment-2{
	display: flex;
	height: 80px;
	width: 315px;
	border-radius: 8px;
	background: #FEDC5A;
	box-shadow: 0px 32px 34px 0px #1C1B20 19,9 %;
	position: absolute;
	left: 1137px;
	top: 651px;
	align-items: center;
}

.appointment-2-text {
	width: 280px;
	margin-left: 15px;
}

.tick-2{
	background-color: #5454D4;
	margin-left: 15px;
	width: 31px;
	height: 31px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.teams{
	color: #696871;
	margin-top: 250px;
}

.line{
	width: 500px;
}

.team-images{
	display: flex;
	justify-content: space-between;
	margin: 35px 0px;
}


.section2 {
    height: 930px;
    background-color: #5454D4;
    position: relative;
}

.section2 {
    position: relative;
}

.section2-wrapper {
    height: 930px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section2-ul {
    /* border: 1px solid red; */
    width: 540px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.section2-li {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    width: 260px;
    height: 270px;
    transition: transform ease 0.3s, box-shadow ease 0.3s;
}

.section2-li:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 35px rgba(238, 238, 238, 0.5),
        0 0 55px rgba(238, 238, 238, 0.5);
}

.section2-text {
    font-size: 24px;
    color: #19191B;
    font-weight: bold;
    margin-bottom: 20px;
}

.section2-subtext {
    font-size: 16px;
    color: #696871;
    font-weight: 500;
    line-height: 1.7;
}

.section2-title {
    width: 500px;
    font-size: 58px;
    color: white;
    margin-bottom: 35px;
}

.section2-main-text {
    line-height: 2;
    width: 500px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.702469);
    margin-bottom: 50px;
}

.section2-link {
    display: block;
    width: fit-content;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
    border: 1px solid #EAE9F2;
    transition: color ease 0.25s, background-color ease 0.25s, transform ease 0.25s, box-shadow ease 0.15s;
}

.section2-link:hover {
    background-color: white;
    color: #5454D4;
    transform: scale(1.1);
    box-shadow: 0 0 25px rgb(224, 224, 224);
}

.img-wrapper {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.img1 {
    background-color: rgba(240, 64, 55, 0.097195);
}

.img2 {
    background-color: rgba(254, 220, 90, 0.1);
}

.img3 {
    background-color: rgba(84, 84, 212, 0.1);
}

.img4 {
    background-color: rgba(65, 62, 101, 0.1);
}

.curve-seciton2 {
    width: 100%;
    position: absolute;
    bottom: -4px;
    /* border: 1px solid red; */
}

.section3 {
    position: relative;
}

.section3-wrapper {
    width: 100%;
    height: 930px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section3-left {
    width: 530px;
}

.section3-title {
    width: 555px;
    font-size: 58px;
    margin-bottom: 30px;
}

.section3-text {
    width: 515px;
    line-height: 2;
    font-size: 18px;
    color: rgba(105, 104, 113, 1);
    margin-bottom: 50px;
}

.section3-right {
    height: 600px;
    width: 500px;
    position: relative;
    /* border: 1px solid red; */
}

.section3-img {
    position: absolute;
    top: 0;
    left: 0;
}

.section3-border {
    position: absolute;
    top: 25px;
    left: 85px;
}

.notification {
    width: 305px;
    height: 113px;
    box-shadow: 0px 32px 34px 0px rgba(28, 27, 32, 0.2);
    border-radius: 10px;
    position: absolute;
    padding: 20px 20px 20px 65px;
    /* border: 1px solid red; */
}

.n-section3 {
    background-color: rgba(254, 220, 90, 1);
    left: -55px;
    bottom: 155px;
}

.n3-text {
    width: 215px;
    font-size: 14px;
    color: #19191B;
    mix-blend-mode: normal;
    opacity: 0.48;
    margin-bottom: 5px;
}

.n3-title {
    width: 190px;
    font-size: 21px;
    color: #19191B;
    font-weight: bold;
}

.bell-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 25px;
    background-color: #5454D4;
}

.section4 {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7FB;
    position: relative;
    /* border: 1px solid black; */
}

.curve-section4 {
    position: absolute;
    width: 100%;
    top: 0;
    transform: rotate(180deg);
    /* border: 1px solid red; */
    z-index: 10;
}

.section4-left {
    position: relative;
}

.section4-wrapper {
    /* border: 1px solid red; */
    margin-top: 100px;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section4-border {
    position: absolute;
    bottom: 75px;
    left: 20px;
}

.n-section4 {
    background-color: rgba(240, 64, 55, 1);
    left: -60px;
    top: 140px;
    z-index: 15;
}

.n4-text {
    width: 215px;
    font-size: 14px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 5px;
}

.n4-title {
    width: 200px;
    font-size: 21px;
    color: white;
    font-weight: bold;
}

.section4-title {
    font-size: 60px;
    width: 515px;
}

.section4-text {
    width: 515px;
    line-height: 2;
    font-size: 18px;
    color: rgba(105, 104, 113, 1);
    margin: 50px 0;
}

.section4-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 359px;
    height: 95px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgb(218, 218, 218);
    transition: transform 0.25s, box-shadow 0.15s;
}

.section4-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 0 5px rgba(233, 233, 233, 0.5), 0 0 0 10px rgba(185, 185, 185, 0.5);
}

.card-text {
    width: 264px;
    font-size: 20px;
    font-weight: 900;
}

.card-span {
    opacity: 0.6;
    font-weight: 500;
}

.card-img-wrapper {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 64, 55, 0.1);
    border-radius: 50%;
    margin-right: 20px;
}

.sp {
    background-color: rgba(84, 84, 212, 0.1);
}

.section5-wrapper {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section5-title {
    text-align: center;
    font-size: 60px;
    width: 531px;
}

.section5-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1110px;
}

.section5-li {
    padding: 29px 31px;
    width: 350px;
    height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px lightgray;
    transition: transform 0.25s, box-shadow 0.25s;
}

.section5-li:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 0 5px lightgray;
}

.section5-img {
    margin-right: 15px;
}

.section5-li-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.section5-subtitle {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-size: 20px;
    font-weight: 900;
}

.section5-subtitle span {
    font-size: 16px;
    color: #696871;
    font-weight: 500;
}

.section5-text {
    width: 280px;
    line-height: 2;
    font-size: 18px;
    margin-top: 35px;
}

.section5-text span {
    color: #5454D4;
}

.section5-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    font-size: 16px;
    color: #5454D4;
    transition: text-shadow ease 0.25s;
}

.section5-last-text {
    display: block;
    color: #5454D4;
}

.section5-last:hover {
    text-shadow: 0 5px 5px lightgray;
}

.curve-section6 {
    z-index: 18;
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    top: -5px;
    transform: rotateX(180deg);
}

.section6 {
    background-color: #19191B;
    position: relative;
    height: 1082px;

}

.section6 .container {
    height: 100%;
    padding-top: 150px;
}

.blue-circle {
    position: absolute;
    top: 0;
    left: 0;
}

.section6-wrapper {
    margin: 0 auto 30px;
    width: 539px;
    height: 581px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section6-title {
    font-size: 60px;
    color: white;
}

.section6-text {
    margin: 20px 0 40px;
    line-height: 2;
    width: 500px;
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
}

form {
    height: 232px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input {
    padding: 25px 30px;
    border: none;
    outline: none;
    width: 100%;
    height: 71px;
    border-radius: 10px;
    text-rendering: auto;
}

input:placeholder-shown {
    font-size: 20px;
    color: #696871;
}

input::placeholder {
    font-size: 18px;
    color: #696871;
}

.section6 button {
    background-color: #F04037;
    color: white;
    font-size: 21px;
    border: none;
    outline: none;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.15s, box-shadow 0.15s, transform 0.15s;
}

.section6 button:hover {
    background-color: #ff0d00;
    box-shadow: 0 5px 15px black;
    transform: translateY(-5px);
}

.section6-main-ul a {
    display: block;
}

.section6-main-ul {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    /* border: 1px solid gold; */
    padding-left: 100px;
}

.section6-ul {
    width: 199px;
    height: 156px;
    display: flex;
    flex-direction: column;
}

.fr {
    transform: translate(-100px, -5px);
    font-size: 24px;
}

.section6-ul a:not(.f) {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.4);
}

.f {
    color: white;
}

.section6-ul li a:not(.f):hover {
    color: white;
}

.section6-ul li a{
    transition: color 0.15s;
}

.section6-ul li:nth-child(1) {
    margin-bottom: 30px;
}

.section6-hr {
    margin: 0 auto;
    border: none;
    width: 1111px;
    height: 1px;
    background-color: #2F2F31;
    margin-bottom: 30px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}
